@using MvcProje.Areas.Identity.Data.Classes;
@model ExtraMalzeme
<div class="card">
    <div class="card-header"><h1 class="bg-info text-center"> Extra Malzeme Ekle</h1></div>


    <div class="card-body">

        <form asp-action="Ekle" asp-area="Admin" asp-controller="ExtraMalzeme" method="post" enctype="multipart/form-data">

            <div class="form-group">

                <label asp-for="Ad"> Product Name</label>
                <input asp-for="Ad" class="form-control" />

            </div>
            <div class="form-group">

                <label asp-for="Fiyat"> Product Price</label>
                <input asp-for="Fiyat" class="form-control" />

            </div>
           
            @*buraya resim eklemek icin alan koyucaz*@
            <div class="form-group">
                <label asp-for="Resim">Resim ekleme</label>
                <input asp-for="Resim" type="file" class="form-control" />
                ">

            </div>
            <button type="submit" class="btn btn-success mt-3">Extra Malzeme Ekle</button>

        </form>

    </div>

</div>