@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using MvcProje.Areas.Identity.Data.Classes;
@model ExtraMalzeme

<form method="post" asp-action="SilOnay">
    <input asp-for="Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="bg-info text-white">Extra Malzeme Sil</h2>
            <hr />

        </div>
        <div class=" mb-3">
            <label asp-for="Ad"></label>
            <input asp-for="Ad" class="form-control" disabled />

        </div>
        <div class=" mb-3">
            <label asp-for="Fiyat"></label>
            <input asp-for="Fiyat" class="form-control" disabled />

        </div>
        <button class="btn btn-danger" style="width:150px">Sil</button>
        <a asp-controller="ExtraMalzeme" asp-action="Index" class="btn btn-secondary">Listeye Geri Don</a>

    </div>

</form>