@{
    ViewData["Title"] = "Home Page";
}

<link href="~/css/logo.css" rel="stylesheet" />
<div class="container mt-4 d-flex">
    <img src="~/admin/img/beefybites.jpeg" height="400px" width="450px" id="logo" />
    <div>
        <h1  id="welcome" class="text-center text-info m-5">Welcome To Beefy Bits </h1>
        <div class="container m-4 d-flex">
            <div class="m-5 text-end">
                <a class="btn btn-success" asp-controller="MusteriMenu" asp-action="Index"> Siparis Vermek icin Tiklayiniz...</a>
            </div>

        </div>
    </div>
    
</div>
